# Dependencies
node_modules/

# Builds
build/

# Env files
.env
.env.*
*.env
server/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Editors
.vscode/
.idea/

# Docker
docker-compose.override.yml